<h1>Log in</h1>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <br />
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br />
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <div class="actions"><%= submit_tag "Log in", :class=>"btn primary" %></div>
<% end %>
