<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @transaction.symbol %>
</p>

<p>
  <b>Type:</b>
  <%= @transaction.type_string %>
</p>

<p>
  <b>Shares:</b>
  <%= @transaction.shares %>
</p>

<p>
  <b>Price:</b>
  <%= @transaction.price %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', user_path(current_user) %>
