<!DOCTYPE html>
<html>
<head>
  <title>StockTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "StockTracker", "/" %></h3>
        <ul class="nav secondary-nav">
          <% if current_user %>
            <li><%= link_to "#{current_user.email}", :controller => :users, :action => :edit, :id=>current_user.id %></li>
            <li><%= link_to "Log out", :logout  %></li>
          <% else %>
            <li><%= link_to "Sign up", :signup %></li>
            <li><%= link_to "Log in", :login %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span11">
          <%= yield %>
        </div>
        <div class="span1">&nbsp;</div>
      </div>
    </div>
  </div>
</body>
</html>
